<div class="valign-wrapper">
  <img class="responsive-img" src="https://media.mnn.com/assets/images/2014/06/soccer-football-futebol-brazil.jpg.653x0_q80_crop-smart.jpg" alt="Match S">
</div>

<form action="/session/create" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <p><%= flash[:error] %></p>
      <input class="input-field col s12 m6 l6 validate" id="email" type="email" name="email" placeholder="Email" required>
      <input class="input-field col s12 m6 l6" id="password" type="password" name="password" placeholder="Password" required>
    </div>
    <div class="modal-footer">
      <button id="btn_login" type="submit" class="btn">Log in<i class="material-icons">done_all</i></button>
    </div>
  </div>
</form>
