<div class="valign-wrapper">
  <img class="responsive-img" src="https://media.mnn.com/assets/images/2014/06/soccer-football-futebol-brazil.jpg.653x0_q80_crop-smart.jpg" alt="Match S">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <input class="input-field col s12 m6 l6" id="email" type="email" name="email" placeholder="Email">
    <input class="input-field col s12 m6 l6" id="passwrod" type="email" name="passwrod" placeholder="Password">
  </div>
  <div>
    <a href="/home" class=" modal-action modal-close waves-effect waves-green btn"><i class="material-icons">done_all</i>
Log in</a>
  </div>
</div>
