<div class="row">
  <div class="input-field col s12 m6 l6">
    <input id="email" type="email" class="validate" name="email">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input id="password" type="password" class="validate" name="passwrod">
    <label for="password">Password</label>
  </div>
  <div>
    <a href="/home" class=" modal-action modal-close waves-effect waves-green btn"><i class="material-icons">done_all</i>
      Log in
    </a>
  </div>
</div>
